<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

<title>生产车间看板</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="../kanban/css/base.css">
<link rel="stylesheet" href="../kanban/css/workshop_index.css">
<link href="../css/icon/iconfont.css"
	th:href="@{../css/icon/iconfont.css}" rel="stylesheet" type="text/css" />

<style>

.t_title {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 2.5em;
	line-height: 80px;
	color: #fff;
}

#chart_map {
	cursor: pointer;
}

.t_show {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 2px;
	background: #2C58A6;
	padding: 2px 5px;
	color: #fff;
	cursor: pointer;
}
</style>
</head>
<body topmargin=0 leftmargin=10>

	<!--header-->
	<div class="header">
		<div class="bg_header">
			<div class="header_nav fl t_title"><span id="head_title">生产车间看板</span></div>
		</div>
	</div>

	<!--main-->
	<div class="data_content">

		<div class="data_main">
			<div class="main_left fl">
				<div class="left_1 t_btn6" style="cursor: pointer; height: 170px;">
					<!--左上边框-->
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<!--右上边框-->
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<!--左下边框-->
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<!--右下边框-->
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					<!--标题-->
					<div class="main_title">
						<img src="picture/t_9.png" alt=""> 车间状态
					</div>
					<!--内容-->
					<div class="main_table t_btn8"
						style="width: 94%; margin-left: 10px;">
						<table>
							<tbody>
								<tr style="height: 40px;">
									<td style="width: 50%"><span>在编人数</span></td>
									<td style="width: 50%"><span id="plan_emp">1</span></td>
								</tr>
								<tr style="height: 40px;">
									<td style="width: 50%"><span>在岗人数</span></td>
									<td style="width: 50%"><span id="on_emp">1</span></td>
								</tr>
								<tr style="height: 40px;">
									<td style="width: 50%"><span>工单任务数</span></td>
									<td style="width: 50%"><span id="task_count">1</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="left_2 "
					style="cursor: pointer; height: 480px; margin-bottom: 20px;">
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					<div class="main_title">
						<img src="picture/t_7.png" alt=""><span>任务汇总</span>
					</div>
					<!-- <div class="table-bordered-div">
						<table class="table-bordered table-line">
							<thead>
								<tr>
									<th>工单号</th>
									<th>产品编号</th>
									<th>产品名称</th>
									<th>工单数量</th>
									<th>计划完成日期</th>
									<th>是否延时</th>
								</tr>
							</thead>
							<tbody id="unTask">
								<tr>
									<td>AB-123129837-2</td>
									<td>AB-123129837-2</td>
									<td>好多好多好多好多好多好多好多好多的字</td>
									<td>10000</td>
									<td>2020-12-12</td>
									<td>是</td>
								</tr>	
							</tbody>
						</table>
					</div>-->

					<div class="tablebox">
						<div class="tbl-header">
							<table>
								<thead>
									<tr>
										<th>工单号</th>
										<th>产品编号</th>
										<th>产品名称</th>
										<th>工单数量</th>
										<th>计划完成日期</th>
										<th>是否延时</th>
									</tr>
								</thead>
								<tbody style="opacity: 0;" id="unTask1"></tbody>
							</table>
						</div>

						<div class="tbl-body">
							<table>
								<thead>
									<tr>
										<th>工单号</th>
										<th>产品编号</th>
										<th>产品名称</th>
										<th>工单数量</th>
										<th>计划完成日期</th>
										<th>是否延时</th>
									</tr>
								</thead>
								<tbody id="unTask">

								</tbody>
							</table>
						</div>
					</div>


				</div>
			</div>
			<div class="main_center fl">
				<div class="center_text" style="position: relative;">
					<!--左上边框-->
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<!--右上边框-->
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<!--左下边框-->
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<!--右下边框-->
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					<div class="main_title">
						<img src="picture/t_5.png" alt=""><span>区域信息</span>
					</div>
					<div class="chart_main">
						<div class="area_info_div">
							<div class="area_info_chart" id="area_chart1"></div>
							<div class="area_info_chart" id="area_chart2"></div>
							<div class="area_info_chart" id="area_chart3"></div>
						</div>
						<div class="common_table t_btn8" style="width: 96%;">
							<table>
								<tbody>
									<tr style="height: 35px;">
										<th style="width: 33%"><span>设备报警区域</span></th>
										<th style="width: 33%"><span>质量报警区域</span></th>
										<th style="width: 33%"><span>欠料区域</span></th>
									</tr>
									<tr style="height: 35px;">
										<td style="width: 33%"><span id="dev_warn_area1"></span></td>
										<td style="width: 33%"><span id="qual_warn_area1"></span></td>
										<td style="width: 33%"><span id="owe_warn_area1"></span></td>
									</tr>
									<tr style="height: 35px;">
										<td style="width: 33%"><span id="dev_warn_area2"></span></td>
										<td style="width: 33%"><span id="qual_warn_area2"></span></td>
										<td style="width: 33%"><span id="owe_warn_area2"></span></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<div class="center_text1" style="position: relative;">
					<!--左上边框-->
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<!--右上边框-->
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<!--左下边框-->
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<!--右下边框-->
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					<div class="main_title">
						<img src="picture/t_4.png" alt=""><span>班组合格率</span>
					</div>
					<div class="center_chart" id="center_chart"></div>
				</div>
			</div>
			<div class="main_right fr">
				<div class="right_1" style="height: 280px">
					<!--左上边框-->
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<!--右上边框-->
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<!--左下边框-->
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<!--右下边框-->
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					<div class="main_title">
						<img src="picture/t_4.png" alt=""><span>班组生产达标情况</span>
					</div>
					<div class="chart_main">
						<div class="status_div" style="width: 70%;" id="status_chart"></div>
						<div class="status_div" style="width: 29%; text-align: center;">
							<img id="director_img" src="../images/portrait.png"
								style="width: 65%; height: 60; margin-top: 25%;" alt="">
							<div style="text-align: center; margin-top: 5%;">
								<span
									style="color: #ffffff; font-size: 14px; font-weight: bold;">车间负责人</span>
							</div>
							<div style="text-align: center; margin-top: 1%;">
								<span
									style="color: #ffffff; font-size: 16px; font-weight: bold;"
									id="director">车间负责人</span>
							</div>
						</div>
					</div>
				</div>
				<div class="right_1" style="height: 370px">
					<!--左上边框-->
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<!--右上边框-->
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<!--左下边框-->
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<!--右下边框-->
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					<div class="main_title">
						<img src="picture/t_4.png" alt=""><span>产品工序总合格率</span>
					</div>
					<div class="right_b_chart" id="right_b_chart"></div>
				</div>
			</div>
		</div>
	</div>

</body>
<script src="../kanban/scripts/jquery-2.2.1.min.js"></script>
<script src="../kanban/scripts/bootstrap.min.js"></script>
<script src="../kanban/scripts/common.js"></script>
<script src="../kanban/scripts/echarts.min.js"></script>
<script src="../kanban/scripts/datatool.js"></script>
<!-- <script src="../kanban/scripts/index.js"></script> -->
<!-- <script src="../kanban/scripts/guangxi.js"></script> -->
<script src="/js/kanban/hl_workshop.js"
	th:src="@{/js/kanban/hl_workshop.js}"></script>
<script th:inline="javascript">
var context = [[@{/}]];
var kanbanData = [[${kanbanData}]];
var workShopId =  [[${workShopId}]];
var workShopName =  [[${workShopName}]];
$("#head_title").text(workShopName)
var rotime =  [[${rotime}]];
console.log(kanbanData)
</script>
</html>