<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

<title>生产车间看板</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="../kanban/css/base.css">
<link rel="stylesheet" href="../kanban/css/workshop_index.css">
<link href="../css/icon/iconfont.css"
	th:href="@{../css/icon/iconfont.css}" rel="stylesheet" type="text/css" />

<style>
.t_title {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 2.5em;
	line-height: 80px;
	color: #fff;
}

#chart_map {
	cursor: pointer;
}

.t_show {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 2px;
	background: #2C58A6;
	padding: 2px 5px;
	color: #fff;
	cursor: pointer;
}
</style>
</head>
<body topmargin=0 leftmargin=10>

	<!--header-->
	<div class="header">
		<div class="bg_header">
			<div class="header_nav fl t_title">生产车间看板</div>
		</div>
	</div>

	<!--main-->
	<div class="data_content">

		<div class="data_main">
			<div class="main_left fl">
				<div class="left_1 t_btn6" style="cursor: pointer; height: 210px;">
					<!--左上边框-->
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<!--右上边框-->
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<!--左下边框-->
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<!--右下边框-->
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					<!--标题-->
					<!-- <div class="main_title">
						<img src="picture/t_1.png" alt=""> 产能预警
					</div> -->
					<!--内容-->
					<div id="pro_warn" class="chart"
						style="width: 100%; height: 260px;"></div>
				</div>
				<div class="left_2 "
					style="cursor: pointer; height: 370px; margin-bottom: 20px;">
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					<!--<div class="main_title">
						<img src="picture/t_5.png" alt=""><span style="color: red;">异常报警</span>
					</div>  -->
					<div class="main_table t_btn8">
						<!-- <table>
							<thead>
								<tr>
									<th>质量</th>
									<th>设备</th>
								</tr>
							</thead>
							<tbody>
								<tr style="height: 40px;">
									<td style="width: 50%"><span id="yc_zl"></span></td>
									<td td style="width: 50%"><span id="yc_sb"></span></td>
								</tr>
							</tbody>
						</table> -->
					</div>
				</div>
			</div>
			<div class="main_center fl">
				<div class="center_text" style="position: relative;">
					<!--左上边框-->
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<!--右上边框-->
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<!--左下边框-->
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<!--右下边框-->
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					
					<div class="chart_main div_none" id="div_li_huan">
						<img id="div_li_huan_img" src=""
							style="width: 100%; height: 348px; padding: 10px; padding-top: 20px;">
					</div>			
				</div>
				<div class="center_text1" style="position: relative;">
					<!--左上边框-->
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<!--右上边框-->
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<!--左下边框-->
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<!--右下边框-->
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>	
					<!--料 -start-->
					<div class="div_none" id="div_li_liao">
						<div class="main_table t_btn8">
						
						</div>
					</div>
					<!--料-end -->
				</div>
			</div>
			<div class="main_right fr">
				<div class="right_1" style="height: 260px">
					<!--左上边框-->
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<!--右上边框-->
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<!--左下边框-->
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<!--右下边框-->
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					
					<div class="table-bordered-div">
												
					</div>
				</div>
				<div class="right_1" style="height: 320px">
					<!--左上边框-->
					<div class="t_line_box">
						<i class="t_l_line"></i> <i class="l_t_line"></i>
					</div>
					<!--右上边框-->
					<div class="t_line_box">
						<i class="t_r_line"></i> <i class="r_t_line"></i>
					</div>
					<!--左下边框-->
					<div class="t_line_box">
						<i class="l_b_line"></i> <i class="b_l_line"></i>
					</div>
					<!--右下边框-->
					<div class="t_line_box">
						<i class="r_b_line"></i> <i class="b_r_line"></i>
					</div>
					
					<div class="table-bordered-div">
												
					</div>
				</div>
				
			</div>


		</div>
	</div>

</body>
<script src="../kanban/scripts/jquery-2.2.1.min.js"></script>
<script src="../kanban/scripts/bootstrap.min.js"></script>
<script src="../kanban/scripts/common.js"></script>
<script src="../kanban/scripts/echarts.min.js"></script>
<script src="../kanban/scripts/datatool.js"></script>
<!-- <script src="../kanban/scripts/index.js"></script> -->
<!-- <script src="../kanban/scripts/guangxi.js"></script> -->
<!-- <script src="/js/kanban/hl_area.js" th:src="@{/js/kanban/hl_area.js}"></script> -->
<script th:inline="javascript">
	
</script>
</html>