<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>恒联看板-区域</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">


<link rel="stylesheet" href="../css/jquery.mobile-1.4.5.min.css" /> 
        <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script> 
        <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>

<style>

</style>
</head>
<body>
	<div class="div-boder">
		<!--<img src="img/title_2.png" style="height: 30px;margin: 1px 1px 1px 500px;">-->
		<h2 style="height: 30px; margin: 1px" align="center">数字化工厂信息中心</h2>
		<span
			style="color: #FFFFFF; float: right; font-size: 16px; margin: 10px 15px 0 0; display: inline;">2020-08-09
			09:19</span>
	</div>
	<div data-role="page" id="firstPage">
			<div data-role="header" data-theme="b">
				<h1>看板目录</h1>
			</div>
			<div data-role="controlgroup"  >
				<div class="ui-controlgroup-controls " id="list">
					<!-- <a href="/report/kanban01.html?line=XK019" data-role="button" target="_blank" class="ui-link ui-btn ui-shadow ui-corner-all ui-first-child ui-last-child" role="button">看板1</a> -->
				</div>
			</div>
			<div data-role="footer"  data-theme="b" data-position="fixed">
				<h4>&copy;朋乐信息</h4>
			</div>
		</div>

	<script type="text/javascript">
	 $.ajax({
         url:  '/kanban/getAreaList',
         cache: false,
         async: true ,
         data: {},
         type: "POST",
         contentType:  'application/json; charset=UTF-8',
         dataType: "json",
         beforeSend: function(request) {

         },
         success: function (res) {
             console.log(res)
             if(res.result){
            	 res.data.forEach(function(element) {
            		  console.log(element);
            		  var html = '<a href="/kanban/toHlArea?line='+element.FCODE+'"  data-role="button" target="_blank" class="ui-link ui-btn ui-shadow ui-corner-all ui-first-child ui-last-child" role="button" >'+element.FNAME+'</a>'
            		  $("#list").append(html)	
            	 }); 
            	 //$("#list").load( $("#list").html()); 
             }else{
            	 alert(res.msg)
             }
         },
         error:function (XMLHttpRequest, textStatus, errorThrown) {
        	 alert("服务器好像除了点问题！请稍后试试");
         }
     });
	</script>
</body>
</html>